# Python fájlok
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtuális környezetek (Nagyon fontos!)
venv/
env/
.env
.venv/

# Visual Studio specifikus fájlok
.vs/
*.suo
*.user
*.db
*.sqlite3

# Git és verziókövetés
.git/
.gitignore

# Tesztelési és linter cache fájlok (Ruff, Pytest)
.ruff_cache/
.pytest_cache/
htmlcov/
.coverage

# Log fájlok
*.log
